<h1>COMMAND LINE</h1>
<hr />
<section>
	<a href='cp'>1. CP</a>
	<br />
	<a href='ls'>2. LS</a>
	<br />
	<a href='mkdir'>3. MKDIR</a>
	<br />
	<a href='touch'>4. TOUCH</a>
	<br />
	<a href='mv'>5. MV</a>
	<br />
	<a href='search'>6. Search</a>
	<br />
	<a href='https://www.google.com/' target='_blank'>7. Google</a>
	<br />
</section>
<hr />
<footer>
	<a href='/'>Menu</a>
</footer>