<h1>COMMAND RESULT</h1>
<hr />
<section>
	<a href='ls'>1. LS</a>
	<br />
	<a href='mkdir'>2. MKDIR</a>
	<br />
	<a href='touch'>3. TOUCH</a>
	<br />
	<a href='mv'>4. MV</a>
	<br />
	<a href='/'>5. Menu</a>
	<br />
	<a href='/search'>6. Search</a>
</section>

<%= `man cp | col -b` %>