<h1>Command Line Menu</h1>
<hr />
<section>
	<a href='command_line'>1. Command Line</a>
	<br />
	<a href='search'>2. Search</a>
	<br />
	<a href='https://www.google.com/' target='_blank'>3. Google</a>
	<br />
</section>