<h1>COMMAND RESULT</h1>
<hr />
<section>
	<a href='cp'>1. CP</a>
	<br />
	<a href='ls'>2. LS</a>
	<br />
	<a href='mkdir'>3. MKDIR</a>
	<br />
	<a href='touch'>4. TOUCH</a>
	<br />
	<a href='/'>5. Menu</a>
	<br />
	<a href='/search'>6. Search</a>
</section>

<%= `man mv | col -b` %>